@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Bree+Serif&family=Open+Sans&family=Raleway&display=swap');
#blog-section{
  background-color: rgb(250,250,250);
}
.blog {
  margin: 30px;
  padding: 20px 16px;
  display: flex;
  flex-wrap: wrap;
}
.blog-vertical {
  flex-direction: row;
  justify-content: space-between;
}
.blog-vertical img {
  width: 40%;
}
.blog-content {
  flex: 1;
}


.blog-content h3 {
  text-align: center;
  color: rgb(0,100,240);
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  line-height: 1.2;
}
.blog-content p {
  color: rgb(0, 0, 0);
  padding: 0px 0px 0px 50px;
  word-spacing: 2px;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}
@media screen and (max-width: 601px) {
  .blog-vertical {
    display: flex;
    flex-direction: column;
  }
  .blog-vertical img {
    width: 100%;
    border-radius: 10px;
  }
  .blog-content p {
    padding: 0px;
  }
}
