
#long-bar-container {
  margin: 0px;
  padding: 40px;
  background-color: rgb(69, 69, 206);
  color: white;

  /* FLEX DISPLAY */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  flex: 1;
  text-align: center;
}

/* FONT FORMAT */

.box h3 {
  font-size: large;
}
.box i{
  margin: 5px 0px 0px 0px;
  font-size: 5rem;
}

@media screen and (max-width: 601px) {
  #long-bar-container {
    padding: 10px 0px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .box h3 {
    font-size: 2rem;
    margin: 10px;
  }
}
