@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
#news-container {
  background-color: whitesmoke;
}

/* FOR TEXT IN WHITE BANNER */

.news-text-white {
  margin: 30px;
  padding: 5px 16px;
}

/* FOR PARALLAX IMAGE */

.news-text-img {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, var(--opacity)),
      rgba(0, 0, 0, var(--opacity))
    ),
    var(--background);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOR TEXT ON IMAGE */

.news-text-overlay {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    var(--background);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* BASIC TEXT FORMAT */

.news h1 {
  text-align: center;
  color: rgb(0,100,240);
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px white,2px 2px 5px rgb(0,0,0,0.5);
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  line-height: 1.2;
}
.news p {
  color: rgb(0, 0, 0);
  padding: 0px 0px 0px 50px;
  word-spacing: 2px;
  font-size: 18px;
  line-height: 1.4;
  text-align: justify;
}
.news-text-overlay h1 {
  padding: 30px;
  color: white;
}
.news-text-overlay p {
  margin: 30px 30px 0px 30px;
  padding: 5px 16px;
  color: white;
}
@media screen and (max-width: 601px) {
.news p {
  padding: 0px ;
}
.flip p {
  padding: 0px ;
}
.news-text-white {
  margin: 30px;
  padding: 0px;
}
}